* {
    /* padding: 0; */
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: bisque;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.date {
    font-size: 13px;
}

p {
    width: 70%;
}

.bio {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items:center;
}

.bio img {
    border-radius: 50%;
    border: 1.5px solid #000;
    height: 200px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
    padding: 3px;
}

h4 {
    width: 30%;
}

.projects p {
    font-size: 15px;
}

.contact {
    text-align: center;
    width: 100%;
}